services:
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    ports:
      - "8888:8080"
    networks:
      - articulate

  profiles:
    build:
      context: ./profiles
      dockerfile: Dockerfile
    ports:
      - "9092:9090"
    networks:
      - articulate


  article:
    build:
      context: ./article
      dockerfile: Dockerfile
    ports:
      - "9093:9090"
    networks:
      - articulate


  slots:
    build:
      context: ./slots
      dockerfile: Dockerfile
    ports:
      - "9094:9090"
    networks:
      - articulate

#  search:
#    build:
#      context: ./search
#      dockerfile: Dockerfile
#    ports:
#      - "9095:9090"
#    networks:
#      - articulate
#    environment:
#      SPRING_ELASTICSEARCH_URIS: http://elasticsearch:9200
#    depends_on:
#      elasticsearch:
#        condition: service_healthy
#    restart: on-failure

  auth:
    build:
      context: ./auth
      dockerfile: Dockerfile
    ports:
      - "9091:9090"
    networks:
      - articulate


#  elasticsearch:
#    build:
#      context: ./search/elastic
#      args:
#        STACK_VERSION: 8.15.0  # Or whatever exact version you want (e.g., 9.0.0) – use full version, not 9.2.3
#    container_name: es
#    healthcheck:
#      test: [ "CMD-SHELL", "curl -fsS http://localhost:9200/_cluster/health?wait_for_status=yellow&timeout=90s > /dev/null || exit 1" ]
#      interval: 10s
#      timeout: 10s
#      retries: 30
#      start_period: 60s
#    environment:
#      - discovery.type=single-node
#      - xpack.security.enabled=false   # Critical for dev – disables auth/HTTPS
#      - ES_JAVA_OPTS=-Xms1g -Xmx1g
#    ports:
#      - "9200:9200"
#    volumes:
#      - esdata:/usr/share/elasticsearch/data
#    networks:
#      - articulate
#
#  kibana:
#    image: docker.elastic.co/kibana/kibana:8.15.0
#    container_name: kibana
#    environment:
#      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
#      - XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=0123456789abcdef0123456789abcdef
#    ports:
#      - "5601:5601"
#    depends_on:
#      - elasticsearch
#    networks:
#      - articulate
#

  profiles-postgres:
    image: postgres
    container_name: "profiles-postgres-articulate"
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345678
      - POSTGRES_DB=profiles
    networks:
      - articulate
      - profiles-postgres-n
    volumes:
      - profiles_service_postgres:/var/lib/postgresql/data


  auth-postgres:
    image: postgres
    container_name: "auth-postgres-articulate"
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345678
      - POSTGRES_DB=auth
    networks:
      - articulate
      - auth-postgres-n
    volumes:
      - auth_service_postgres:/var/lib/postgresql/data


  article-postgres:
    image: postgres
    container_name: "article-postgres-articulate"
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345678
      - POSTGRES_DB=article
    networks:
      - articulate
      - article-postgres-n
    volumes:
      - article_service_postgres:/var/lib/postgresql/data

  slots-postgres:
    image: postgres
    container_name: "slots-postgres-articulate"
    ports:
      - "5436:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345678
      - POSTGRES_DB=slots
    networks:
      - articulate
      - slots-postgres-n
    volumes:
      - slots_service_postgres:/var/lib/postgresql/data


  redis:
    image: redis:latest
    container_name: token_redis
    ports:
      - "6379:6379"
    networks:
      - articulate
    volumes:
      - redis-data:/data
    command: [ "redis-server", "--save", "60", "1", "--loglevel", "warning" ]

#  rabbitmq:
#    image: rabbitmq:3.13-management
#    ports:
#      - "5672:5672"      # AMQP
#      - "15672:15672"    # Web UI
#    environment:
#      RABBITMQ_DEFAULT_USER: guest
#      RABBITMQ_DEFAULT_PASS: guest
#    networks:
#      - articulate

volumes:
  profiles_service_postgres:
  auth_service_postgres:
  article_service_postgres:
  redis-data:
  slots_service_postgres:
  esdata:

networks:
  articulate:
    driver: bridge
  profiles-postgres-n:
    driver: bridge
  auth-postgres-n:
    driver: bridge
  article-postgres-n:
    driver: bridge
  slots-postgres-n:
    driver: bridge
